@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <img style="-webkit-user-select: none;cursor: zoom-in;" src="https://www.costacruceros.es/content/dam/costa/costa-asset/costa-experience/services/dressing/Abbigliamento-LP.jpg.image.1440.523.high.jpg" width="1015" height="369">
    <div class="titleH1 basecomponent parbase">
        <div class="react-component titleH1" data-id="1559227851602" data-type="titleH1">
            <div class="title-component" data-nav_enable="notChecked" data-nav_title=""><div class="inner-container"><span class="icon-heading title-decorator-top" aria-hidden="true"></span><h2 class="title">¿Hombre, mujer o niño?</h2><span class="title-decorator-image title-decorator-bottom" aria-hidden="true"></span><p class="description">¡Revisa la lista y prepárate!</p></div></div>
        </div>
    </div>

    <div class="copyBlock basecomponent parbase">
        <div class="react-component copyBlock" data-id="1559227851605" data-type="copyBlock">
            <div class="copy-block-wrap ">
                <div class="copy-block col-1">
                    <div class="inner-copy-block">
                        <div class="table-container">
                            <table width="100%" border="0" cellpadding="4" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td width="33%">
                                            <p><b>Hombre</b></p>
                                        </td>
                                        <td width="33%">
                                            <p><b>Mujer</b></p>
                                        </td>
                                        <td width="33%">
                                            <p><b>Niño</b></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="33%">
                                            <p>✓ Pantalones largos</p>
                                        </td>
                                        <td width="33%">
                                            <p>✓ Vestido elegante</p>
                                        </td>
                                        <td width="33%">
                                            <p>✓ Traje para él y vestido para ella</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="33%">
                                            <p>✓ Camisa</p>
                                        </td>
                                        <td width="33%">
                                            <p>✓ Zapatos y bolso de noche</p>
                                        </td>
                                        <td width="33%">
                                            <p>✓ Sudadera</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="33%">
                                            <p>✓ Corbata (no obligatoria)</p>
                                        </td>
                                        <td width="33%">
                                            <p>✓ Chaqueta o bufanda</p>
                                        </td>
                                        <td width="33%">
                                            <p>✓ Camiseta</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="33%">
                                            <p>✓ Suéter</p>
                                        </td>
                                        <td width="33%">
                                            <p>✓ Camiseta</p>
                                        </td>
                                        <td width="33%">
                                            <p>✓ Pantalones cortos</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="33%">
                                            <p>✓ Zapatos cerrados</p>
                                        </td>
                                        <td width="33%">
                                            <p>✓ Pantalones cortos</p>
                                        </td>
                                        <td width="33%">
                                            <p>✓ Pantalones o leggings</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="33%">
                                            <p>✓ Camiseta</p>
                                        </td>
                                        <td width="33%">
                                            <p>✓ Pantalones largos</p>
                                        </td>
                                        <td width="33%">
                                            <p>✓ Bañador</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="33%">
                                            <p>✓ Bermudas</p>
                                        </td>
                                        <td width="33%">
                                            <p>✓ Bañador</p>
                                        </td>
                                        <td width="33%">
                                            <p>✓ Albornoz</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="33%">
                                            <p>✓ Pantalones vaqueros</p>
                                        </td>
                                        <td width="33%">
                                            <p>✓ Pareo</p>
                                        </td>
                                        <td width="33%">
                                            <p>✓ Sombrero con visera</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="33%">
                                            <p>✓ Bañador</p>
                                        </td>
                                        <td width="33%">
                                            <p>✓ Zapatillas</p>
                                        </td>
                                        <td width="33%">
                                            <p>✓ Pijama</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="33%">
                                            <p>✓ Impermeable</p>
                                        </td>
                                        <td width="33%">
                                            <p>✓ Zapatos cerrados</p>
                                        </td>
                                        <td width="33%">
                                            <p>✓ Zapatillas de deporte </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>Para más información ponte en contacto con tu agencia de viajes de confianza o con nuestros expertos en el crucero.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
